In [2]:
import pandas as pd
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
school_count = len(pd.unique(school_data_complete["school_name"]))
print("Total # of Unique Schools: " ,school_count)

Total # of Unique Schools:  15

In [11]:
#student_count = len(pd.unique(school_data_complete["student_name"]))
#The code above is assuming that there are no students with the same name of the same sex in the same grade because there are duplicates.
student_count = school_data_complete["student_name"].count()
print("Total # of Unique Students: ", student_count)

Total # of Unique Students:  39170

In [14]:
total_budget = school_data["budget"].sum()
print("$",total_budget)

$ 24649428

In [18]:
average_math = school_data_complete["math_score"].mean()
print("Average Math Score: ",average_math)

Average Math Score:  78.98537145774827

In [19]:
average_reading = school_data_complete["reading_score"].mean()
print("Average Reading Score: ",average_reading)

Average Reading Score:  81.87784018381414

In [21]:
passing_math = len(school_data_complete[(school_data_complete ["math_score"]>=70)])
percent_passing_math = (passing_math/student_count)*100
print(percent_passing_math, "%")

74.9808526933878 %

In [22]:
passing_reading = len(school_data_complete[(school_data_complete ["reading_score"]>=70)])
percent_passing_reading = (passing_reading/student_count)*100
print(percent_passing_reading, "%")

85.80546336482001 %

In [23]:
passing_reading_math = len(school_data_complete[(school_data_complete ["reading_score"]>=70)&(school_data_complete ["math_score"]>=70)])
percent_passing_reading_math = (passing_reading_math/student_count)*100
print(percent_passing_reading_math, "%")

65.17232575950983 %

In [25]:
data = {'Total Schools': [school_count],
       'Total Students': [student_count],
       'Total Budget': [total_budget],
       'Average Math Score': [average_math],
       'Average Reading Score': [average_reading],
       '% Passing Math': [percent_passing_math],
       '% Passing Reading': [percent_passing_reading],
       '% Overall Passing': [percent_passing_reading_math]}
district_summary=pd.DataFrame(data)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [26]:
school_types = school_data.set_index(["school_name"])["type"]
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [27]:
school_student_count = school_data_complete['school_name'].value_counts()
school_student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [33]:
#school_budget = school_data_complete.groupby(['school_name'])['budget'].mean()
school_budget = school_data.groupby(['school_name'])['budget'].sum()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [34]:
per_student_budget = school_budget/school_student_count
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [36]:
average_math_school = school_data_complete.groupby(['school_name'])['math_score'].mean()
average_math_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [37]:
average_reading_school = school_data_complete.groupby(['school_name'])['reading_score'].mean()
average_reading_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [42]:
students_passing_math = school_data_complete.loc[school_data_complete['math_score']>=70]
students_passing_math_school = students_passing_math['school_name'].value_counts()
percent_passing_math_school = (students_passing_math_school/school_student_count) * 100
percent_passing_math_school

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: school_name, dtype: float64

In [44]:
students_passing_reading = school_data_complete.loc[school_data_complete['reading_score']>=70]
students_passing_reading_school = students_passing_reading['school_name'].value_counts()
percent_passing_reading_school = (students_passing_reading_school/school_student_count) * 100
percent_passing_reading_school

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: school_name, dtype: float64

In [45]:
overall_percent_passing_school = ((students_passing_math_school+students_passing_reading_school)/(school_student_count*2))*100
overall_percent_passing_school

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: school_name, dtype: float64